<style>
  h2 {
  text-align: center;
  padding: 20px 0;
}

.table-bordered {
  border: 1px solid #ddd !important;
}

table caption {
  padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    display: none;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
</style>

{% extends 'base.html' %}
    

{% block content %}

<!-- result start -->
    <div  style="margin-top: -100px;">
    <div class="container" >
      <div style="float: center;">
        <h3 style="font-size: 30px;">Problema de Camino Economico</h3><br>
      </div>
        <h4>Ruta</h4><br>
        <h4>Desde {{ ciudades }}</h4><br>
        <h4>Distancia {{ kms }} kms</h4><br>
        <h4>Comino Economico </h4><br>
        <h4>{{ ruta }}</h4>
     	  
    </div>
    </div>
    <!-- result end -->
{% endblock %}