{% extends 'base.html' %}
{% load static %} 
{% block content %}

 <!-- tsp start -->
      <div style="text-align: center;margin-top: -100px; margin-bottom: 130px;">
        <h2>Problema de Agente Viajero - TSP</h2>
        {% csrf_token %}
        <h3>Seleccione las ciudades que NO participarán del recorrido </h3>
      </div>
    <div>
    <form method="POST" action="result/">
      {% csrf_token %}

    <div class="container">


      <div class="row templatemorow">
       

    <div class="hex col-sm-6">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/2.jpg' %}');">
                <br><br><br>
                <h1 style="text-align: center;">CHASCOMUS</h1>
                <div class="overlay" >
                <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Chascomus" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top2">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/3.jpg' %}');">
                <br><br><br>
                  <h1>SAMBOROMBÓN</h1>
                <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Samborombón" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/4.jpg' %}');">
                <br><br><br>
                  <h1>CASTELLI</h1>
                <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Castelli" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/5.jpg' %}');">
                <br><br><br>
                  <h1>TANDIL</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Tandil" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/6.jpg' %}');">
                <br><br><br>
                  <h1>BALCARCE</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Balcarce" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
         <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/7.jpg' %}');">
                <br><br><br>
                  <h1>MAIPÚ</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Maipú" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
     <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/8.jpg' %}');">
                <br><br><br>
                  <h1>MAR DEL PLATA</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Mar del Plata" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/9.jpg' %}');">
                <br><br><br>
                  <h1>CORONEL VIDAL</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Coronel Vidal" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/10.jpg' %}');">
                <br><br><br>
                  <h1>MIRAMAR</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Miramar" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/11.jpg' %}');">
                <br><br><br>
                  <h1>PINAMAR</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Pinamar" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/12.jpg' %}');">
                <br><br><br>
                  <h1>AZUL</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Azul" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/13.jpg' %}');">
                <br><br><br>
                  <h1>DOLORES</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Dolores" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/14.jpg' %}');">
                <br><br><br>
                  <h1>GENERAL GUIDO</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="General Guido" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/15.jpg' %}');">
                <br><br><br>
                  <h1>LOBERÍA</h1>
                  <div class="overlay">
                 <a style="height: 60px; width: 60px; margin-left: -30px;" ><input style="height: 50px; width: 50px;" type="checkbox" name="city" value="Lobería" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>
    <div class="container">
      <div class="row">
          <div class="templatemo_loadmore">
          <button class="gallery_more" type="submit"  value="Submit"id="button">Generar Ruta</button>
        </form>
            </a>
            </div>
        </div>
    </div>
    </div>
      <!-- tsp end -->
{% endblock %}